ALCHEMYENDPOINT_MAINNET_GOERLI=https://eth-goerli.g.alchemy.com/v2/__
ALCHEMYENDPOINT_MAINNET_RINKEBY=https://eth-rinkeby.alchemyapi.io/v2/__
ALCHEMYENDPOINT_MAINNET=https://eth-mainnet.alchemyapi.io/v2/__
ALCHEMYENDPOINT_ARBINET=https://arb-mainnet.g.alchemy.com/v2/__
ALCHEMYENDPOINT_OPTINET=https://opt-mainnet.g.alchemy.com/v2/__
ALCHEMYENDPOINT_POLYNET=https://polygon-mainnet.g.alchemy.com/v2/__
AUTOMANAGERPASSWORD=
# set this instead of using static private key. use utils/encrypting.js
AUTOMANAGERWALLET=data/manager_wallet_arb_lending_decrypted
DISCORDWEBHOOK=
# discord webhook for notif - chris' personal
DISCORDWEBHOOKPRIVATE=
